<div class="page-header">
  <h3>
    Selecciona un producto
  </h3>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <p><%= image_tag "nintendo.jpg" %></p>
    <h2>Nintendo Switch</h2>
    <h3><%= link_to "Haz click para ver el precio final", "#", class: "go-to-bbva" %></h3>
  </div>
</div>
